.logo-head{
  margin-left: 105px;
  margin-top: 16px;
  width: 138px;
  height: 70px;
}

.listnav{
  display: inline-block;
  padding: 10px 10px;
  margin-right: 105px;
  margin-top: 16px;
  font-family: Muli, sans-serif;
  font-size: 14px;
}

#nav-color{
  color: orangered;
}
